.container{
    margin: 10px;
    border-radius: 10px;
    border: 30px;
    padding: 20px;
    background-color: beige;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-position: 20px;
    
}
.input{
    width: 100%;
    padding: auto;
    padding: 10px 10px 10px 40px;
    border: none;
    background: transparent;
    outline: none;
}